Repository douevenfeel/chat-app-react: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run lint:ts:fix, pnpm run lint:scss:fix, pnpm run prettier

.lintstagedrc:

{
    "*.{ts,tsx}": "pnpm run lint:ts:fix",
    "*.scss": "pnpm run lint:scss:fix",
    "*.{scss,ts,tsx,html,json}": "pnpm run prettier"
}

add event listeners to forms
  package.json
  pnpm-lock.yaml
  src/features/ChatForm/ui/ChatForm.tsx
  src/features/Login/ui/LoginForm/LoginForm.tsx
  src/features/ProfileUpdateInfoForm/ui/ProfileUpdateInfoForm.tsx
  src/features/Registration/ui/RegistrationCodeForm/RegistrationCodeForm.tsx
  src/features/Registration/ui/RegistrationEmailForm/RegistrationEmailForm.tsx
  src/features/Registration/ui/RegistrationProfileForm/RegistrationProfileForm.tsx
Due: pnpm run lint:ts:fix, pnpm run prettier

add message card story
  src/entities/Chat/ui/MessageCard/MessageCard.stories.tsx
  storybook-static/favicon.ico
  storybook-static/favicon.svg
  storybook-static/project.json
Due: pnpm run lint:ts:fix, pnpm run prettier

remove storybook-static
  .gitignore
  storybook-static/favicon.ico
  storybook-static/favicon.svg
  storybook-static/project.json
Due: pnpm run prettier

return to npm
  .eslintrc
  .gitignore
  .husky/pre-commit
  .lintstagedrc
  .prettierrc
  .stylelintrc
  package-lock.json
  package.json
  pnpm-lock.yaml
Due: pnpm run prettier

fix chats && chats page stories
  src/pages/ChatsPage/ui/ChatsPage.stories.tsx
  src/widgets/Chats/ui/Chats/Chats.stories.tsx
  src/widgets/Chats/ui/Chats/Chats.tsx
Due: pnpm run lint:ts:fix, pnpm run prettier

rename textarea, fix chatheader on mobile
  src/features/ChatForm/ui/ChatForm.tsx
  src/shared/ui/Textarea/Textarea.module.scss
  src/shared/ui/Textarea/Textarea.stories.tsx
  src/shared/ui/Textarea/Textarea.tsx
  src/widgets/ChatHeader/ui/ChatHeader.module.scss
Due: pnpm run lint:ts:fix, pnpm run lint:scss:fix, pnpm run prettier

minor changes
  .husky/pre-commit
  src/app/providers/ErrorBoundary/ui/ErrorBoundary.tsx
  src/entities/Chat/ui/MessageCard/MessageCard.module.scss
  src/entities/Chat/ui/MessageCard/MessageCard.tsx
  src/entities/Chats/model/services/fetchAllChats/fetchAllChats.ts
  src/features/ChatForm/model/services/fetchNewMessage/fetchNewMessage.ts
  src/widgets/ChatHeader/ui/ChatHeader.tsx
  src/widgets/Header/ui/Header.module.scss
Due: pnpm run lint:ts:fix, pnpm run lint:scss:fix, pnpm run prettier

custom scrollbar
  src/app/App.tsx
  src/app/styles/index.scss
  src/app/styles/themes/dark.scss
  src/app/styles/themes/light.scss
Due: pnpm run lint:ts:fix, pnpm run lint:scss:fix, pnpm run prettier

socket message in chat
  package-lock.json
  package.json
  src/app/App.tsx
  src/app/providers/SocketProvider/index.ts
  src/app/providers/SocketProvider/ui/SocketProvider.tsx
  src/entities/Chat/index.ts
  src/entities/Chat/model/selectors/getChatId/getChatId.ts
  src/entities/Chats/model/types/ChatsSchema.ts
  src/features/ChatForm/model/services/fetchNewMessage/fetchNewMessage.ts
  src/index.tsx
  src/pages/ChatPage/ui/ChatPage.tsx
  src/shared/lib/context/SocketContext.ts
  src/shared/lib/hooks/useSocket/useSocket.ts
  src/widgets/Chats/ui/ChatItem/ChatItem.tsx
Due: pnpm run lint:ts:fix, pnpm run prettier

socket chats on chats page
  src/entities/Chat/ui/DateSeparator/DateSeparator.stories.tsx
  src/entities/Chat/ui/DateSeparator/DateSeparator.tsx
  src/entities/Chat/ui/MessageCard/MessageCard.tsx
  src/entities/Chat/utils/hooks/useDateSeparatorDate/useDateSeparatorDate.ts
  src/entities/Chats/model/slice/chatsSlice.ts
  src/entities/Chats/ui/ChatCard/ChatCard.tsx
  src/pages/ChatPage/ui/ChatPage.tsx
  src/pages/ChatsPage/ui/ChatsPage.tsx
  src/shared/config/storybook/const/data.ts
  src/shared/types/Message.ts
  src/widgets/Messages/utils/getDateSeparator/getDateSeparator.ts
Due: pnpm run lint:ts:fix, pnpm run prettier
